* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #585555;
	font-family: 'Lato', sans-serif, Arial;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
    padding: 80px 0;
}

header {
	background-image:linear-gradient(rgba(20, 20, 20, 0.56), rgba(20, 20, 20, 0.56)), url('omnifood Contents/hero-min.jpg');
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.logo {
	height: 80px;
	width: auto;
    float: left;
    margin-top: 10px;
	
}
.logo-black {
    display: none;
    height: 50px;
	width: auto;
    float: left;
    margin: 10px 0;
}
.sticky .logo-black {
    display: block;
}
.sticky .logo {
display: none;}

.main-nav {
	float: right;
	list-style: none;
    margin-top: 30px;
    color: white;
}
.main-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}
 .main-nav-icon ion-icon {
    font-size: 200%;
    color: #fff;

}

ion-icon reorder-four-outline {
    
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 20x #918c8c;
    z-index: 9999;
}
.main-nav li {
	display: inline-block;
	margin-left: 40px;
	margin-top: 0px;
}
.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	font-size: 92%;
	text-transform: uppercase;
	border-bottom: 2px bold transparent;
	transition: all 0.2s;
	
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
	padding: 10px 0;
	color: gray;
}

.sticky .main-nav {
    margin-top: 15px;
    margin-bottom: 0;
}
.sticky .main-nav-icon {
    color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #89470c;
	
}

section .long-copy {
    margin-bottom: 60px;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1, h2, h3 {
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}



h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom:30px;
    
}
.container::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 30px;
    
}
.hbox {
    margin-top:30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    margin:0 auto;
    margin-top: 30px;
    width: 250px;
}

h3 {
    font-size: 114%;
    margin-bottom: 15px;
    
    
}
p h2 {
    margin-top: 40px;
}

.meal-showcase {
    list-style: none;
    width: 100%;
}

.meal-showcase li {
    display: block;
    width: 25%;
    float:left;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    
}



.meal-photo img {
    width: 100%;
    height: auto;
    transition: all 1s;
    padding: 5px;
    opacity: 0.7;
    transform: scale(1.1);
    transition: transform 1s opacity 0.5s;
}
.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}


ion-icon {
    font-size: 64px;
    margin-bottom: 15px;
    color: #e67e22;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.step-box:first-child {
    padding-right: 3%;
    text-align: center;
    margin-top: 30px;
    
}

.step-box:last-child {
    padding-left: 3%;
    margin-top: 80px;
}



.app-screen {
    width: 40%;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.how-it-works {
margin-top: 40px;
}


.work-step {
    margin-bottom: 40px;
}

.work-step:last-of-type {
    margin-bottom: 100px;
    
}

.box img {
    margin-right: 20px;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding: 15px;
}
.box-number{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 15px;
    float: left;
    font-size: 100%;
    margin-right: 20px;
}

.how-it-works {
    margin-top: 10px;
    background-color: lightgray;
    clear: both;
}

.section-testimonials {
    background-image:linear-gradient(rgba(20, 20, 20, 0.56), rgba(20, 20, 20, 0.56)), url('Omnifood Contents/back-customers-min.jpg');
    background-size: cover;
    color: white;
    background-attachment: fixed;
    
    
}

blockquote {
    font-style: italic;
    line-height: 145%;
    padding: 2%;
    height: 50%;
    position: relative;
    margin-top: 30px;
    
}

blockquote:before {
    content:"\201C";
    font-size: 400%;
    margin-top: 20px;
    display:block;
    position: absolute;
    top: -20px;
    
}

cite {
    font-size: 90%;
    display: block;
    margin-top: 25px;
}
cite img {
    border-radius: 50%;
    height: 50px;
    width: auto;
    margin-top: 10px;
    vertical-align: middle;
  
    
}


.second-img {
   
    
}
.signup {
    background-color: #d9d9d9;
}

.plan-box {
    background-color: white;
    border-radius: 5%;
    width: 90%;
    height:70%;
    margin-left: 5%
}
.plan-box div {
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.js--wp-4, .js--wp-2, .js--wp-1 {
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-3 {
    animation-duration: 1s;
}
 .animated {
    opacity: 1;
    
}

.plan-price {
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 100%;
}

.plan-box ul {
    
    list-style: none;
    padding: 10px;
}

.plan-box ul li {
    padding: 5px;
}


.btn:link,
.btn:visited {
	display: inline-block;
	padding:10px 30px;
	border: 1px solid;
	text-decoration: none;
	font-weight: 300;
	transition: background-color 0.2s, color 0.2s, border 0.2s;
	margin-left: 15px;
	
	
}

.form-class {
    width: 60%;
    margin: 0 auto;
    
    
}

input[type="text"],
input[type="email"],
select,
textarea, checkbox {
    
    width:100%;
    padding: 7px;
    border-radius: 5%;
    border: 1px solid #ccc;
    
    
}
textarea {
    height: 100%;
    width:auto;
}
label {
    font-size: 80%;
    
}
input checkbox {
   border: 2px solid black; 
}

.send-it {
    background-color: #e67e22;
	border-radius: 200px;
	border: 1px solid #e67e22;
	color: #fff;
    width: 40%;
}
footer {
    background-color: #464444;
    padding: 40px;
    font-size: 80%;
    
}
footer p {
    color: #888;
    text-align: center;
    margin-top:20px;
}
.footer-nav {
    float: left;
    list-style: none;
    display: block;
    
    
}

.social-links {
    float: right;
    display: block;
}
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
    
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd
}



.btn-orange:link,
.btn-orange:visited {
	background-color: #e67e22;
	border-radius: 200px;
	border: 1px solid #e67e22;
	color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
	border-radius: 300px ;
	border: 1px solid #e67e22;
	color: #e67e22
}

.btn:hover,
.btn:visited {
	background-color: #89470c;
	border: 1px solid  #89470c;
}

.btn-orange:hover,
.btn-orange:visited {
	background-color: #89470c;
	border: 1px solid  #89470c;
}
a {
    
}
